.jumbotron{
	background-color: orange;
	color: black;
	margin-top: 25px;
	margin-bottom: 5px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: orange;
	margin-bottom: 1px;
	margin-top: 5px;
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 1px 2px 1px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
}

.tab-content {
	padding-top: 10px;
}