@orange: #faab00;
@black: #fffaf7;

.margenes(@arriba: 0px, @abajo: 0px){
  margin-top: @arriba;
  margin-bottom: @abajo;
}

.jumbotron {
  background-color: @orange;
  color: @black;
  .margenes(50px, 0px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @orange;
  .margenes(5px, 1px);
}

.card-hotel {
  flex: 1 150px;
  padding: 2px 1px 2px 1px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%; }

.tab-content {
  padding-top: 10px; }
