.jumbotron {
  background-color: #faab00;
  color: #fffaf7;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #faab00;
  margin-top: 5px;
  margin-bottom: 1px;
}
.card-hotel {
  flex: 1 150px;
  padding: 2px 1px 2px 1px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
}
.tab-content {
  padding-top: 10px;
}
